/* CHAT BOX */

.chat-box {
  display: block;
  font-size: 0.65rem;
  font-weight: 500;
  max-width: 25ch;
  border-radius: 1.2em;
  padding: 0.8em;
}

.chat-box-left {
  background-color: var(--chat-left-bg);
  border-bottom-left-radius: 0.2em;
  color: var(--chat-left);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.chat-box-right {
  background-color: #fff;
  color: var(--chat-right);
  align-self: flex-end;
  border-bottom-right-radius: 0.2em;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.chat-box-img {
  max-width: 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
  padding: 0;
  margin-top: 0.5rem;
}

.chat-box-img img {
  width: 100%;
  border-radius: 0.8em;
  cursor: pointer;
  outline-style: solid;
  outline-color: var(--light-magenta);
  outline-width: 0;
  transition: outline 200ms;
}

.chat-box-img img:hover {
  outline-width: 2px;
}

.chat-box-img.chat-box-img-right {
  align-self: flex-end;
}
