@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("./prefix.css");
@import url("./variables.css");
@import url("./poll.css");
@import url("./text_input.css");

.icon {
  cursor: pointer;
  user-select: none;
}

#app {
  min-height: 100vh;
  background-color: var(--app-bg);
  display: grid;
  place-items: center;
}

/* PHONE */
.phone {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 340px;
  height: 700px;
  background-color: #fff;
  border-radius: var(--phone-corner);
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* PHONE HEADER */
.phone__header {
  --px: 1rem;
  position: absolute;
  inset: 0.8rem;
  z-index: 10;
  padding-top: calc(var(--notch-height) - 1.8rem);
  padding-left: var(--px);
  padding-right: var(--px);
  height: var(--phone-header-height);
  border-top-left-radius: calc(var(--phone-corner) - 0.8rem);
  border-top-right-radius: calc(var(--phone-corner) - 0.8rem);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: var(--light-violet);
  background: linear-gradient(
    90deg,
    var(--light-violet) 0%,
    var(--light-magenta) 100%
  );
  display: grid;
  grid-template-columns: 1rem auto 1rem;
  gap: 1rem;
}

/* Phone's Notch */
.phone__header::before {
  content: "";
  position: absolute;
  height: var(--notch-height);
  width: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
  background-color: white;
}

.phone__header__arrow {
  height: var(--header-ico-height);
  width: 100%;
  align-self: center;
}

.phone__header__profile {
  height: 2.5rem;
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.6em;
  align-items: center;
  align-self: center;
}

.phone__header__profile__picture {
  width: 100%;
  border-radius: 50%;
  border: #fff 2px solid;
  grid-row-start: 1;
  grid-row-end: 3;
}

.phone__header__profile__name {
  font-size: 0.9em;
  font-weight: 500;
  color: white;
}

.phone__header__profile__status {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.7);
  font-weight: lighter;
}

.phone__header__menu {
  align-self: center;
  height: var(--header-ico-height);
}

/* PHONE SCREEN */

.phone__screen {
  padding-top: calc(var(--phone-header-height) + 1rem);
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--app-bg);
  position: absolute;
  inset: 0.8rem;
  border-radius: calc(var(--phone-corner) - 0.8rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* CHAT BOX */

.chat-box {
  display: block;
  font-size: 0.65rem;
  font-weight: 500;
  max-width: 25ch;
  border-radius: 1.2em;
  padding: 0.8em;
}

.chat-box-left {
  background-color: var(--chat-left-bg);
  border-bottom-left-radius: 0.2em;
  color: var(--chat-left);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.chat-box-right {
  background-color: #fff;
  color: var(--chat-right);
  align-self: flex-end;
  border-bottom-right-radius: 0.2em;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.chat-box-img {
  max-width: 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
  padding: 0;
  margin-top: 0.5rem;
}

.chat-box-img img {
  width: 100%;
  border-radius: 0.8em;
  cursor: pointer;
  outline-style: solid;
  outline-color: var(--light-magenta);
  outline-width: 0;
  transition: outline 200ms;
}

.chat-box-img img:hover {
  outline-width: 2px;
}

.chat-box-img.chat-box-img-right {
  align-self: flex-end;
}
