:root {
  --phone-header-height: 100px;
  --phone-corner: 2.6rem;
  --notch-height: 3.5rem;
  --header-ico-height: 1.2rem;
  --light-violet: #8838ff;
  --light-magenta: #e942ff;
  --app-bg: #f5f3f7;
}
