:root {
  --phone-header-height: 100px;
  --phone-corner: 2.6rem;
  --notch-height: 3.5rem;
  --header-ico-height: 1.2rem;
  --light-violet: hsl(264, 100%, 61%);
  --light-magenta: hsl(293, 100%, 63%);
  --app-bg: hsl(270, 20%, 96%);
  --chat-left: hsl(276, 55%, 52%);
  --chat-left-bg: hsla(276, 55%, 52%, 0.1);
  --chat-right: hsl(271, 15%, 43%);
}
